page-new-transaction {
  h4 {
    padding-right: 19px;
    font-size: 12px !important;
  }
  button {
    margin: 20px 0;
  }
  .submitBtn {
    padding: 34px 16px;
  }
  .empty_data p {
    text-align: center !important;
    color: #ababab;
    margin: 0;
    font-size: 14px ! important;
  }
}
.toast{
    text-align: right !important;
}