page-orders1 {
    .addbtn
    {
        position: fixed;
        bottom: 90px;
        left: 20px;
    }

    img 
    {
        display: block;
        margin: 0 auto;

        // height: 60vh;
    }
}
.toast{
    text-align: right !important;
}