page-bank-account {
    .item-md
    {
        padding-left: 0 !important;
    }
    // .select
    // {
    //     .item-md.item-block .item-inner{
    //         border: 1px solid #dedede;
    //         padding: 0 10px 0 10px;
    //         border-radius: 10px;
    //     }
    // }

    .select-md .select-icon
    {
        top: 5px;
    }

}
.toast{
    text-align: right !important;
}