page-reports {
    .picker-md .picker-opt{
        font-size: 22px !important;
        .picker-toolbar{
            button{
                font-size: 22px !important;
            }
        }
    }
}
.toast{
    text-align: right !important;
}