page-addresses-management {
  
  h5 {
    margin: 0 !important;
  }
  .addbtn {
    position: fixed;
    bottom: 70px;
    right: 20px;
  }
  .center{
    margin-top: 50% !important;
  }
}
.toast{
  text-align: right !important;
}