page-forget-password {
    a
    {
        display: table;
        margin: 0 auto !important;
        text-align: center;
        color: color($colors,danger);
        border-bottom: solid 1px color($colors,danger);
    }
    .LoginForm
    {
        min-width: 100%;
    }
    .actionBtns
    {
        position: fixed;
        bottom: 50px;
        width: calc(100% - 32px);
    }
    
}
.toast{
    text-align: right !important;
}